html,
body {
  margin: 0;
  height: 100%;
}
ul, li {
   padding: 0;
   margin: 0; 
   list-style: none;
}
app {
    min-height: 100vh;
    display: block;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  background-color: gray;
}
header > div {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
}
section {
  display: flex;
  flex-direction: row;
  position: relative;
    min-height: 100%;
}
#signin {
    border: 1px solid black;
    padding: 20px;
}
nav {
    background: gray;
    width: 60px;
    /* width: auto; */
    padding: 0;
    /* margin-right: 60px; */
}
nav ul {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 60px;
    /* padding: 14px 10px; */
    top: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.project {
    border: 1px black solid;
    padding: 15px 40px;
    width: 80%;
    display: flex;
}
.project__status li {
    float: left;
}
@media (max-width: 576px) {

}